body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: lightpink;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 19px lightgoldenrodyellow;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
